# --- CLOUDLINUX PASSENGER BEGIN ---
PassengerAppRoot "/home/npyugcbr/my-church-api"
PassengerBaseURI "/api"
PassengerNodejs "/home/npyugcbr/nodevenv/my-church-api/20/bin/node"
PassengerAppType node
PassengerStartupFile server.js
# --- CLOUDLINUX PASSENGER END ---

RewriteEngine On

# همه مسیرهای غیر /api برای SPA فرانت‌اند به index.html بروند
RewriteCond %{REQUEST_URI} !^/api/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ /index.html [QSA,L]



# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
SetEnv DB_HOST localhost
SetEnv DB_NAME npyugcbr_iranjesusdc
SetEnv DB_PASS Samyar@@1989
SetEnv DB_USER npyugcbr_saman
SetEnv JWT_SECRET eyJhbGciOiJIUzI1NiJ9.eyJSb2xlIjoiQWRtaW4iLCJJc3N1ZXIiOiJJc3N1ZXIiLCJVc2VybmFtZSI6IkphdmFJblVzZSIsImV4cCI6MTc1MzUzNjIyMiwiaWF0IjoxNzUzNTM2MjIyfQ.h0wllgDpFYF4A_Ic8HmfbB0o7GZMq4Cc6Sn-RQCgsZE
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END
