# --- CLOUDLINUX PASSENGER BEGIN ---
PassengerAppRoot "/home/npyugcbr/my-church-api"
PassengerBaseURI "/api"
PassengerNodejs "/home/npyugcbr/nodevenv/my-church-api/20/bin/node"
PassengerAppType node
PassengerStartupFile server.js
# --- CLOUDLINUX PASSENGER END ---

RewriteEngine On

# همه مسیرهای غیر /api برای SPA فرانت‌اند به index.html بروند
RewriteCond %{REQUEST_URI} !^/api/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ /index.html [QSA,L]



# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
SetEnv DB_HOST localhost
SetEnv DB_NAME npyugcbr_iranjesusdc
SetEnv DB_PASS Samyar@@1989
SetEnv DB_USER npyugcbr_saman
# SetEnv JWT_SECRET - Use Replit Secrets instead for security
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END
